################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/_ReSharper.Caches/
/.vs
/YarpGrpcExperiment/bin
/YarpGrpcExperiment/obj
